<div class="btn-group">
    <label class="btn btn-primary" radio-button ng-model="vm.choice" uib-btn-radio="'*'">All</label>
    <label class="btn btn-primary" radio-button ng-model="vm.choice" uib-btn-radio="'ae'">A-E</label>
    <label class="btn btn-primary" radio-button ng-model="vm.choice" uib-btn-radio="'fk'">F-K</label>
    <label class="btn btn-primary" radio-button ng-model="vm.choice" uib-btn-radio="'lp'">L-P</label>
    <label class="btn btn-primary" radio-button ng-model="vm.choice" uib-btn-radio="'qv'">Q-V</label>
    <label class="btn btn-primary" radio-button ng-model="vm.choice" uib-btn-radio="'wz'">W-Z</label>
</div>